body
{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;

}
h1
{
    text-align: right;
    text-decoration-color: whitesmoke;

}
h2
{
   text-align: center; 
   font-size: 20px;
   font-style: initial;
   color: orangered;

}
#cabecera{
    text-align: left;
    color: black;
    background-color: red;
}